<h1>Vnesi novo podkategorijo</h1>

<%= bootstrap_form_for @subcategory, url: { action: :create, id: @category.id} do |f| %>

	<%= render 'error_messages' %>

	<div><%= f.text_field :name, label: 'Ime:', placeholder: 'Vnesite ime nove podkategorije...' %></div>
	<div><%= f.submit 'shrani'%></div>
<% end %>
<%= link_to 'Nazaj', action: :index, id: @category.id %>
