<h1>Uredi Članek</h1>
<%= form_for @article do |f| %>
	<div><%= f.label :name %></div>
	<div><%= f.text_field :name %></div>

	<div><%= f.label :body %></div>
	<div><%= f.text_area :body %></div>
	<div><%= f.submit %></div>
<% end %>
<br>
<%= link_to 'nazaj', action: :index, id: @article.subcategory_id %>

