<h1>Uredi Članek</h1>
<%= bootstrap_form_for @article do |f| %>

	<%= render 'error_messages' %>

	<div><%= f.text_field :name, label: 'Naslov:', placeholder: 'vnesite naslov članka...' %></div>

	<div><%= f.text_area :body, label: 'Besedilo:', placeholder: 'napišite članek...' %></div>
	<div><%= f.submit 'shrani' %></div>
<% end %>
<br>
<%= link_to 'nazaj', action: :index, id: @article.subcategory_id %>

