<h1>Spremeni naslov kategorije</h1>
<%= bootstrap_form_for @category do |f| %>

	<%= render 'error_messages' %>

	<div><%= f.text_field :name, label: 'Ime:' %></div>
	<div><%= f.submit 'shrani spremembe', class: 'btn btn-primary btn-lg'  %></div>
<% end %>

<%= link_to 'nazaj', categories_path, class: 'btn btn-default' %>
