<div class="row">
	<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to 'Spletna stran', root_path, class: 'navbar-brand' %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<% for category in @categories %>
				<li class="dropdown <%= params[:id] %> ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= category.name %> <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<% subcategories = category.subcategories.all %>

				<% if subcategories.blank? %>
					<li><a>Ups, ni kategorije!</a></li>
				<% end %>

				<% for subcategory in subcategories %>
					<li>
						<%= link_to subcategory.name, news_path(subcategory) %>
					</li>
				<% end %>
			</ul>
			</li>
			<% end %>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				  <li>
				  <button><%= link_to('CMS', categories_path, class: 'btn btn-danger cms-button') %></button>
				  </li>
				<li><a><%= current_user.email %></a></li>
				  <li>
				    <%= link_to('Odjavi se', destroy_user_session_path, :method => :delete) %>
				  </li>
				  <% else %>
					    <li>
						  <%= link_to('Prijavi se', new_user_session_path)  %>
					    </li>
			<% end %> 
		</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>
</div>
