<!DOCTYPE html>
<html>
<head>
  <title>CmsByToni</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montez|Revalia' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div class="container">
		<div class="row">
			<div class="border-css col-lg-offset-3 col-lg-6">
				<%= link_to news_index_path, title: 'Podji na spletno stran' do %>
					<div class="cms-headline text-center">
						<h1 class="cms">CMS</h1>
						<h5 class=" by-toni">by Toni</h5>
					</div>
				<% end %>
			
				<%= render_breadcrumbs %>
				<%= yield %>
			</div>
		</div>
	</div>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
